<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.neppplus.ui_practice_20211101">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".di.Application"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.UIPractice_20211101">
    <activity
      android:name=".ui.activity.room.RoomActivity"
      android:exported="true" />
    <activity
      android:name=".ui.activity.retrofit.RetrofitActivity"
      android:exported="true" />
    <activity
      android:name=".ui.activity.init.InitActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.activity.buy.BuyActivity"
      android:exported="true"></activity>
    <activity
      android:name=".ui.activity.send.SendActivity"
      android:exported="true" />
    <activity
      android:name=".ui.activity.mnemonic.MnemonicActivity"
      android:exported="true" />
    <activity
      android:name=".ui.activity.main.MainActivity"
      android:exported="true" />
  </application>

</manifest>